.main {
    position: absolute;
    top: 10%;
    left: 1%;

    width: 97vw;
    height: 89vh;
    background: white;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div {
    text-align: start;
}
