.dropdown-method {
    width: 300px;
    margin: 15px 20px;
    position: absolute;
    top: 80px;
    left: 195px;
    user-select: none;
    z-index: 8;
}

.dropdown-method .dropdown-btn {
    padding: 15px 20px;
    background: white;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
}

.dropdown-method .dropdown-content {
    position: absolute;
    top: 90%;
    left: 5%;
    padding: 15px;
    background: white;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 75%;
    
}

.dropdown-method .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-method .dropdown-content .dropdown-item:hover {
    background: #f4f4f4;
}